:root {
  :root {
    --fundo-geral: #090808;
    --fundo-cards: #120f0f;
    --hovers: #1c1515;
    --text: #f5f0ee;
    --second-text: #f5f0ee61;
    --accent: #d4571e;
    --accent-hover: rgba(212, 87, 30, 0.12);
    --border: rgba(245, 240, 238, 0.07);
  }
}
* {
  margin: 0 auto;
}

body {
  background-color: #0a0a0a;
}
